body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/
header {
    height: 130px;
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
}

#img-logo {
    height: 80px;
    margin: 50px 0 0 10px; 
}
/*FINE HEADER*/

/*ARTICOLO*/
article, footer {
    margin: 10px 300px 30px 10px;
}

/*TITOLO*/
h1 {
    font-size: 45px;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 0px;
}

/*SOTTOTITOLO*/
.subtitle {
    color: #7a7a7a;
}

h3 {
    margin-top: 0;
}

#highlighted {
    color: #3db4e8;
}

#subtitle-date {
    font-weight: normal;
}
/*FINE SOTTOTITOLO*/

/*IMMAGINI*/
#img-main {
    margin: 20px 0;
}

#img-main-caption {
    font-size: small;
}

/*TABELLA*/
table {
    margin: 20px 0;
    text-align: left;
}

thead {
    background-color: #20a9e5;
    color: white;
}

#wide-header-cell {
    width: 50%;
}

.azure-table-raw {
    background-color: #b1e5f2;
}
/*FINE TABELLA*/

/*FINE ARTICOLO*/

/*FOOTER*/
.footer-section {
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background-position: center;
}

#monitor {
    background-image: url('../img/monitor.jpg');
}

#graph {
    background-image: url('../img/graph.jpg')
}
/*FINE FOOTER*/
