* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 130px;
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
}

#img-logo {
    width: 17%;
    margin: 50px 0 0 10px; 
}

article {
    margin: 10px 400px 10px 10px;

}

h1 {
    font-size: 45px;
    font-weight: bolder;
    margin: 20px 0 5px 0;
}

.subtitle {
    color: #7a7a7a;
}

#highlighted {
    color: #3db4e8;
}

#subtitle-date {
    font-weight: normal;
}

#img-main {
    margin-top: 20px;
}

#img-main-caption {
    font-size: small;
}

